* {
  margin: 0;
  padding: 0;
}
body {
  padding: 2px;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 500px 1fr 1fr 2fr;
  grid-template-rows: auto auto 200px 300px 100px auto auto;
  color: black;
  //grid-auto-rows: auto;

  grid-template-areas:
  " one two two two two "
  " three five five five five "
  " four six seven eight nine "
  " four six seven ten ten "
  " four eleven eleven eleven eleven "
  " twelve fourteen fourteen fourteen fourteen "
  " thirteen fourteen fourteen fourteen fourteen ";

}

.grid div:nth-child(odd) {

}

.grid div:nth-child(even) {

}

 .one {
   grid-area: one;
   background-color: black;
   //justify-self: center ;
 }
 .one > center{
   color: yellow;
   padding: 10px;
font-size: 250%;
//justify-self: center ;
font-family: Comic Sans MS;
 }

 .two {
  grid-area: two;
  background-color: #2f2f2f;
  //justify-self: center ;
 }
 .two > center > p2{
   color: yellow;
   padding: 100px;
font-size: 400%;
//justify-self: center ;
font-family: Trebuchet MS;
}
.two > center > p3{
  color: white;
font-size: 250%;
//justify-self: center ;
font-family: Verdana;
}




.three {
  grid-area: three;
  padding: 2px;
 background-color: black;
}
.three > p{

  padding: 2px;
font-size: 150%;
font-weight: bold;
//justify-self: center ;
font-family: Helvetica;
background-color: #878332;
  border: 10px solid #878332;
  width: 150px;

  margin: 20px;
}
.four {
  grid-area: four;
 background-color: black;
  //justify-self: center ;
}
.four > p{
  margin: auto;
    width: 90%;
  color: white;
  padding: 4px;
  border: 10px
font-size: 100%;
//justify-self: center ;
font-family:Verdana ;
}
.four > a > p{
  margin: auto;
    width: 90%;
  color: yellow;
  padding: 2px;
  border: 10px
font-size: 100%;
//justify-self: center ;
font-family:Verdana ;
}
.four > a{
  padding: 12px;
  margin: 2px;
  color: white;

    font-size: 100%;
  text-decoration: none;
}
.four > a > p{
height: 40px;
}
.four > a > p:hover{

  font-size: 200%;

  color: white;
  text-decoration: none;
}
.four > a > h1{

  padding: 5px;
font-size: 150%;

//justify-self: center ;
font-family: Helvetica;
  color: yellow;

  width: 150px;

  margin: 20px;
}
.four > a > p{
  margin: auto;
    width: 90%;
  color: yellow;
  padding: 2px;
  border: 10px
font-size: 100%;
//justify-self: center ;
font-family:Verdana ;
}

.five {
  grid-area: five;
  //justify-self: center ;
  background-color: #2f2f2f;
}

.six {
  grid-area: six;
  background-color: #2f2f2f;
 //justify-self: center ;
}
.six > img {
  padding-left: 20px;
}

.seven {
  grid-area: seven;
  background-color: #2f2f2f;
  //justify-self: center ;
}
.eight {
  grid-area: eight;
  //justify-self: center ;
    background-color: #2f2f2f;
    border: 5px solid white ;
    width: 450px;
    padding: 1px;

}
.eight > p4{

 padding: 10px;
    margin: 10px;
    width: 100%;
  color: white;
  padding: 25px;
  border: 10px
font-size: 100%;
//justify-self: center ;
font-family:Verdana ;

}
.nine {
  grid-area: nine;
  background-color: #2f2f2f;
  //justify-self: center ;
}
.ten {
  grid-area: ten;
  background-color: #2f2f2f;
}
.ten > center > p7{
  color: yellow;
font-size: 130%;
padding: 0.5px;

font-family: Verdana;
  text-align: left;
}
.ten > center > p8{
  color: yellow;
font-size: 100%;
//justify-self: center ;
font-family: Verdana;
}
.ten > p9{
  color: yellow;
font-size: 100%;
//justify-self: center ;
font-family: Verdana;
}
.eleven {
  grid-area: eleven;
  //justify-self: center ;
    background-color: #2f2f2f;
}
.eleven >p9{
    padding: 30px;
    margin: 20px;
}
.eleven > p9{
  color: white;
font-size: 200%;
padding: 0.5px;

font-family: Helvetica;
font-weight: bold;
  text-align: left;
}
.twelve {
  grid-area: twelve;
  //justify-self: center ;
  background-color: black;
}
.twelve > a{
  padding: 10px;
margin: 10px;
}
.thirteen {
  grid-area: thirteen;
  //justify-self: center ;
    background-color: black;
}

.thirteen > img{
  padding: 5px;
  border: 2px;
}
.fourteen {
  grid-area: fourteen;
  //justify-self: center ;
    background-color: #2f2f2f;
    padding: 18px;

}
.fourteen > div{
  background-color: #878332;
  width: 900px;
  border: 5px solid black ;
  padding: 10px;
  margin: 2px;
  font-family: Verdana;
 color: black;
 font-weight: bold;
}
.fourteen > h1{
  background-color: #878332;
  width: 700px;
  border: 5px solid black ;
  padding: 10px;
  margin: 2px;
  font-family: Verdana;
 color: black;
 font-weight: bold;
 font-size: 100%;
}
.fourteen > h2{
  background-color: #878332;
  width: 800px;
  border: 5px solid black ;
  padding: 10px;
  margin: 2px;
  font-family: Verdana;
 color: black;
 font-weight: bold;
 font-size: 100%;
}
.fourteen > h3{
  background-color: #878332;
  width: 400px;
  border: 5px solid black ;
  padding: 10px;
  margin: 2px;
  font-family: Verdana;
 color: black;
 font-weight: bold;
 font-size: 100%;
}
